target/

# IDE
.vscode/
.idea/

# Playground cloned repos
playground/libs/

# OS
.DS_Store
Thumbs.db

playground/gsdemo-argocd/
playground/gsdemo-compose/
playground/gsdemo-core/
playground/gsdemo-core-sdk/
playground/gsdemo-frontend/
playground/gsdemo-sso-sdk/

# Test runtime dirs
tests/playground/
tests/repos-remote/
tests/artefacts-remote/
tests/snapshots/
